<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amirz.smartunread">

    <!-- Events -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- Tablet support -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="amirz.plugin.unread.settings.ConfigurationActivity"
            android:label="@string/activity_name"
            android:theme="@style/SettingsTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="amirz.plugin.unread.UnreadService"
            android:enabled="true"
            android:label="@string/icon_badging_service_title"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name="amirz.plugin.unread.widget.ShadeWidgetProvider"
            android:label="@string/widget_style_shade">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shade_widget_info" />
        </receiver>

        <receiver android:name="amirz.plugin.unread.widget.OxygenWidgetProvider"
            android:label="@string/widget_style_oxygen">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/oxygen_widget_info" />
        </receiver>
    </application>

</manifest>