<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amirz.smartunread">

    <!-- Events -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- Tablet support -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name="amirz.plugin.unread.UnreadService"
            android:enabled="true"
            android:label="@string/icon_badging_service_title"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name="amirz.plugin.unread.widget.ShadeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shade_widget_info" />
        </receiver>
    </application>

</manifest>